html {
    background-color: linen;
    font-size: 24px; 
    font-family: 'Ma Shan Zheng', cursive;
    text-align: center;
}


h1 {
    font-size: 60px;
    text-align: center;
    color: brown
}


h2 {
    font-size: 45px;
    text-align: center;
    text-shadow: 2px 2px 1px lightsalmon;
}

h3 {
    font-size: 30px;
    color: royalblue;
}



p {
    width: 1200px;
    text-align: center;
    line-height: 2;
    letter-spacing: 1px;
    margin: 0 auto
}

img {
    width: 500px;
    padding: 0 20px 20px 20px;
    margin: 0 auto;
}